$darkgray: #474747;
$lightestgray: #ccc;

@mixin sans {
	font-family: "museo-sans", sans-serif;
}

@mixin serif {
	font-family: "liberation-serif", serif;
}

html, body {
	@include sans;
	height: 100%;
	color: $darkgray;
	background: $lightestgray;
}

h1, h2, h3,  {
	@include sans;
	color: $darkgray;
}

h1, h2 {
	font-weight: 500;
}

.centered {
	text-align: center;
}


.home {
	height: 70%;
	//background: #fff url('/images/bg_whiteboard.jpg') 50% 50%;

	h1 {
		margin-top: 50%;
		padding-bottom: 10px;
		letter-spacing: .02em;
		@include serif;
		border-bottom: 1px solid $darkgray;
	}

	h2 {
		font-size: 18px;
		font-weight: 300;
	}
}

.image {
	background: $lightestgray;
	padding: 0;

	img {
		width: 100%;
	}
}

.project {
	//height: 20%;
	background: #fff; //#f2f2f2;
	border-top: 1px solid $darkgray;
	border-bottom: 1px solid $darkgray;
	overflow: hidden;
	margin-bottom: 20px;

	h2 {
		font-weight: 500;
		@include serif;

		span {
			font-weight: 300;
			@include sans;
		}
	}

	h3 {
		font-weight: 300;
		font-size: 20px;
		@include sans;
	}
}