/* line 12, ../sass/custom.scss */
html, body {
  font-family: "museo-sans", sans-serif;
  height: 100%;
  color: #474747;
  background: #e5e5e5;
}

/* line 19, ../sass/custom.scss */
h1, h2, h3 {
  font-family: "museo-sans", sans-serif;
  color: #474747;
}

/* line 24, ../sass/custom.scss */
h1, h2 {
  font-weight: 500;
}

/* line 28, ../sass/custom.scss */
.centered {
  text-align: center;
}

/* line 33, ../sass/custom.scss */
.home {
  height: 70%;
}
/* line 36, ../sass/custom.scss */
.home h1 {
  margin-top: 20%;
  padding-bottom: 10px;
  letter-spacing: .02em;
  font-family: "liberation-serif", serif;
  border-bottom: 1px solid #474747;
}
/* line 44, ../sass/custom.scss */
.home h2 {
  font-size: 18px;
  font-weight: 300;
}
/* line 49, ../sass/custom.scss */
.home h3 {
  font-size: 20px;
  font-weight: 300;
  margin: 50px 0;
}

/* line 56, ../sass/custom.scss */
.image {
  background: #e5e5e5;
  padding: 0;
}
/* line 60, ../sass/custom.scss */
.image img {
  width: 100%;
}

/* line 65, ../sass/custom.scss */
.project {
  background: #fff;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  margin-bottom: 30px;
  overflow: hidden;
}
/* line 72, ../sass/custom.scss */
.project h2 {
  font-weight: 500;
  font-family: "liberation-serif", serif;
}
/* line 76, ../sass/custom.scss */
.project h2 span {
  font-weight: 300;
  font-family: "museo-sans", sans-serif;
}
/* line 82, ../sass/custom.scss */
.project h3 {
  font-weight: 300;
  font-size: 20px;
  font-family: "museo-sans", sans-serif;
}
