/* line 13, ../sass/custom.scss */
html, body {
  font-family: "museo-sans", sans-serif;
  height: 100%;
  color: #474747;
  background: #e5e5e5;
}

/* line 20, ../sass/custom.scss */
h1, h2, h3 {
  font-family: "museo-sans", sans-serif;
  color: #474747;
}

/* line 25, ../sass/custom.scss */
h1, h2 {
  font-weight: 500;
}

/* line 29, ../sass/custom.scss */
hr {
  border-top: 1px dotted #7a7a7a;
}

/* line 35, ../sass/custom.scss */
img.photo {
  display: block;
  width: 100%;
  height: 700px;
  margin: 50px 0;
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* line 46, ../sass/custom.scss */
p {
  font-weight: 300;
}

/* line 50, ../sass/custom.scss */
.caption {
  position: absolute;
  width: 40%;
  right: 15px;
  bottom: 50px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
/* line 59, ../sass/custom.scss */
.caption h3 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .05em;
  color: #fff;
}
/* line 67, ../sass/custom.scss */
.caption p {
  color: #e5e5e5;
}

/* line 72, ../sass/custom.scss */
.centered {
  text-align: center;
}

/* line 78, ../sass/custom.scss */
.description h1 {
  font-family: "liberation-serif", serif;
  font-size: 50px;
}
/* line 83, ../sass/custom.scss */
.description h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}
/* line 89, ../sass/custom.scss */
.description h3 {
  font-weight: 300;
  font-size: 22px;
  color: #7a7a7a;
}
/* line 95, ../sass/custom.scss */
.description p {
  font-size: 16px;
}

/* line 100, ../sass/custom.scss */
.footer {
  border-top: 1px solid #474747;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 100px;
}
/* line 106, ../sass/custom.scss */
.footer h4 {
  font-family: "liberation-serif", serif;
  font-weight: 300;
}

/* line 113, ../sass/custom.scss */
.home {
  height: 70%;
}
/* line 116, ../sass/custom.scss */
.home h1 {
  margin-top: 10%;
  padding-bottom: 10px;
  letter-spacing: .02em;
  font-family: "liberation-serif", serif;
  border-bottom: 1px solid #474747;
}
/* line 124, ../sass/custom.scss */
.home h2 {
  font-size: 18px;
  font-weight: 300;
}
/* line 129, ../sass/custom.scss */
.home h3 {
  font-size: 20px;
  font-weight: 300;
  margin: 50px 0;
}
/* line 135, ../sass/custom.scss */
.home a.social {
  opacity: .7;
}
/* line 138, ../sass/custom.scss */
.home a.social:hover {
  opacity: 1;
}
/* line 143, ../sass/custom.scss */
.home.interior {
  height: auto;
  margin-bottom: 50px;
}

/* line 149, ../sass/custom.scss */
.image {
  background: #e5e5e5;
  padding: 0;
}
/* line 153, ../sass/custom.scss */
.image img {
  width: 100%;
}

/* line 158, ../sass/custom.scss */
.project {
  background: #fff;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  margin-bottom: 30px;
  overflow: hidden;
}
/* line 165, ../sass/custom.scss */
.project h2 {
  font-weight: 500;
  font-family: "liberation-serif", serif;
}
/* line 169, ../sass/custom.scss */
.project h2 span {
  font-weight: 300;
  font-family: "museo-sans", sans-serif;
}
/* line 175, ../sass/custom.scss */
.project h3 {
  font-weight: 300;
  font-size: 20px;
  font-family: "museo-sans", sans-serif;
}
