/* line 12, ../sass/custom.scss */
html, body {
  font-family: "museo-sans", sans-serif;
  height: 100%;
  color: #474747;
}

/* line 18, ../sass/custom.scss */
h1, h2, h3 {
  font-family: "museo-sans", sans-serif;
  color: #474747;
}

/* line 23, ../sass/custom.scss */
h1, h2 {
  font-weight: 700;
}

/* line 28, ../sass/custom.scss */
.home {
  height: 70%;
}
/* line 32, ../sass/custom.scss */
.home h1 {
  margin-top: 40%;
  letter-spacing: .02em;
}
/* line 37, ../sass/custom.scss */
.home h2 {
  font-size: 1.4em;
  font-weight: 300;
}

/* line 43, ../sass/custom.scss */
.image {
  background: #cccccc;
  padding: 0;
}

/* line 48, ../sass/custom.scss */
.project {
  height: 20%;
  overflow: hidden;
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
}
/* line 55, ../sass/custom.scss */
.project h2 {
  font-weight: 700;
}
/* line 58, ../sass/custom.scss */
.project h2 span {
  font-weight: 300;
}
